  <% unless comment.archived? %>
  <%= turbo_frame_tag( dom_id(comment) ) do %>
    <%= display_author(comment.user) %>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <turbo-frame id="like_count_<%= comment.id %>">
      <%= render partial: "comments/like_count", locals: { comment: comment } %>
    </turbo-frame>
    <%= link_to "Edit Comment", edit_article_comment_path(article_id: comment.article_id, id: comment.id), data: { turbo_prefetch: false, turbo_stream: true, turbo: true } %>
    <%= link_to "Destroy Comment", [comment.article, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% end %> 
<% end %>