<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<turbo-frame id="like_count_<%= @article.id %>">
  <%= render partial: "articles/like_count", locals: { article: @article } %>
</turbo-frame>
<% if user_signed_in? && current_user == @article.user || current_user.admin? %>
  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
  </ul>
<% end %>
<% if !user_signed_in? %>
  <strong>Please <%= link_to "sign in", new_user_session_path %> to comment.</strong>
<% else %>
  <h2>Add a comment</h2>
  <%= form_with url:article_comments_path(article_id:@article.id), model: Comment.new do |form| %>
    <%= render partial: 'comments/form', locals: {f:form} %>
  <% end %>
<% end %>
<h2><%= "Comment".pluralize(@article.comments.public_count) %></h2>
<%= render @article.comments %>